@import url("normalize.css");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mochiy Pop P One', sans-serif;
}

input::-webkit-input-placeholder {
  font-size: 12px;
  opacity: 0.3;
  vertical-align: baseline;
}

input:focus::-webkit-input-placeholder {
  text-indent: 300px;
  transition: text-indent 0.9s;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  color: #ffff;
  background: var(--btn-collor);
  cursor: pointer;
}

button:hover {
  background: var(--btn-hover);
}

:root {
  --btn-collor: #0b76ef;
  --btn-hover: #066ce0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* style header */

.header {
  padding: 30px 0;
  background: #dddcdc;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-size: 30px;
  text-align: center;
  width: 345px;
  transition: all 0.3s;
}

.header__title:hover {
  letter-spacing: 3px;
}

/* style user */

.user {
  width: 100%;
  height: 100vh;
  padding: 50px 0;
}

.user__wapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.user__addForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 450px;
  padding: 40px;
  border: 1px solid #dddcdc;
  border-radius: 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.user__title {
  margin: 0;
}

.user__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 350px;
  height: 100%;
  margin: 60px 0 0 0;
  padding: 0;
  list-style: none;
}

.user__input {
  height: 30px;
  margin-left: 10px;
  padding: 0 0 0 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 20px 3px rgb(0 0 0 / 20%);
  outline: none;
}

.user__button {
  min-width: 100px;
  border-radius: 8px;
}

.user__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #cbd6ee;
}

/* style todo */

.todo {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
}

.todo__welcome {
  margin: 0;
  text-align: center;
}

.todo__wrapper {
  width: 50%;
  margin: 100px auto;
}

.todo__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo__list {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 10px 0 20px;
  border-radius: 8px;
  background-color: #ffff;
  box-shadow: 3px 3px 20px 3px rgb(0 0 0 / 20%);
  overflow: hidden;
}

.todo__chek {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.todo__chek + .todo__lable {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}


.todo__chek + .todo__lable::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #dddcdc;
  border-radius: 50px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-image: url("../svg/done.svg");
}

.todo__chek:checked + .todo__lable {
  text-decoration: line-through;
}

.todo__chek:checked + .todo__lable::before {
  background-color: var(--btn-collor);
}

.todo__delete {
  display: flex;
  align-items: center;
  font-size: 2em;
  width: 30px;
  height: 100%;
  margin-left: auto;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.todo__delete:hover {
  opacity: 1;
}

.todo__btnAdd {
  position: absolute;
  top: 15%;
  right: 10%;
  width: 60px;
  height: 60px;
  background: url('../svg/plus.svg') center no-repeat var(--btn-collor);
  border-radius: 50px;
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 35%);
}

.todo__btnAdd:hover {
  background: url('../svg/plus.svg') center no-repeat var(--btn-hover);
}

.todo__btnAdd:focus {
  box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 20%);
}

.todo__options {
  position: absolute;
  top: 15%;
  left: 5%;
}




/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  z-index: 0;
}

.modal__window {
  position: relative;
  width: 320px;
  height: 350px;
  padding: 30px;
  background: #ffff;
  border: 1px solid #dddcdc;
  border-radius: 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 2;
}

.modal__title {
  text-align: center;
  margin: 0;
}

.modal_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal__subtitle {
  height: 40px;
  padding: 0 0 0 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 20px 3px rgb(0 0 0 / 20%);
  outline: none;
}

.modal__task {
  height: 135px;
  padding: 0 0 0 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 20px 3px rgb(0 0 0 / 20%);
  outline: none;
}

.modal__button {
  min-width: 100px;
  border-radius: 8px;
}

.modal__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #cbd6ee;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  opacity: 0.7;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 1;
}


