@import url("normalize.css");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mochiy Pop P One', sans-serif;
}

input::-webkit-input-placeholder {
  font-size: 12px;
  opacity: 0.3;
  vertical-align: baseline;
}

input:focus::-webkit-input-placeholder {
  text-indent: 300px;
  transition: text-indent 0.9s;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  background: #dddcdc;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-size: 30px;
  text-align: center;
  width: 345px;
  transition: all 0.3s;
}

.header__title:hover {
  letter-spacing: 3px;
}

/* style user */

.user {
  width: 100%;
  height: 100vh;
}

.user__wapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.user__addForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 450px;
  padding: 40px;
  border: 1px solid #dddcdc;
  border-radius: 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.user__title {
  margin: 0;
}

.user__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 350px;
  height: 100%;
  margin: 60px 0 0 0;
  padding: 0;
  list-style: none;
}

.user__input {
  height: 30px;
  margin-left: 10px;
  padding: 0 0 0 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 20px 3px rgb(0 0 0 / 20%);
  outline: none;
}

.user__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  min-width: 100px;
  padding: 8px 16px;
  border: 0;
  border-radius: 8px;
  background: #00bfff;
  cursor: pointer;
}

.user__button:hover {
  background: #00cfff;
}

.user__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #cbd6ee;
}

/* style todo */

.todo {
  position: relative;
  height: 100vh;
}

.todo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo__head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.todo__title {
  margin: 0;
}

.todo__list {
  width: 80%;
  margin: 40px 0 0 0;
  padding: 0;
}

.todo__item {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  padding: 0 35px;
  list-style: none;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 20px 3px rgb(0 0 0 / 20%);
  transition: 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo__item:not(:last-child) {
  margin-bottom: 20px;
}

.todo__item:hover {
  background: #ddd;
}

.done {
  background: #599940;
  color: #fff;
  text-decoration: line-through;
}

.done:hover {
  background: #79ad64;
}

.done::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 33%;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.todo__addtask {
  position: absolute;
  top: 0%;
  right: 15%;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 50px;
  border: none;
  background: url("../svg/plus.svg") no-repeat center #00bfff;
  box-shadow: 5px 5px 15px 0px rgb(0 0 0 / 35%);
  cursor: pointer;
}

.todo__addtask:hover {
  background: url("../svg/plus.svg") no-repeat center #00cfff;
}

.todo__addtask:focus {
  outline: none;
  box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 35%);
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  z-index: 0;
}

.modal__window {
  position: relative;
  width: 320px;
  height: 350px;
  padding: 30px;
  background: #ffff;
  border: 1px solid #dddcdc;
  border-radius: 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 2;
}

.modal__title {
  text-align: center;
  margin: 0;
}

.modal_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal__subtitle {
  height: 40px;
  padding: 0 0 0 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 20px 3px rgb(0 0 0 / 20%);
  outline: none;
}

.modal__task {
  height: 135px;
  padding: 0 0 0 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 20px 3px rgb(0 0 0 / 20%);
  outline: none;
}

.modal__button {
  appearance: none;
  font-size: 16px;
  min-width: 100px;
  padding: 8px 16px;
  border: 0;
  border-radius: 8px;
  background: #00bfff;
  cursor: pointer;
}

.modal__button:hover {
  background: #00cfff;
}

.modal__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #cbd6ee;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  opacity: 0.7;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 1;
}


