.line-center {
  border-right: 1px solid #454545;
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.main-page__blockplace-container {
  padding-bottom: 250px !important;
}
.main-page__blockplace {
  padding-top: 84px;
}
.main-mr {
  margin-right: 15px;
}
.main-page__caprion {
  padding-top: 10px;
}
.bg-left,
.pr-t {
  padding-right: 33%;
}
.prb-g,
.pr-g {
  padding-left: 20%;
}
.block-two-line {
  border-top: 1px solid #454545;
}
.main-page__blocklast-br br {
  display: none;
}
@media (min-width: 1240px) {
  .main-page__blocklast-br br {
    display: block;
  }
}
@media (max-width: 800px) {
  .footer-bottom-social{
    padding-right: 0;
  }
}
@media (max-width: 475px) {
  div.page-main__line2 {
    left: 70px !important;
  }
  div.page-main__line3 {
    right: 60px !important;
  }
}
