.secret-page_block1 {
  padding-top: 203px !important;
  padding-bottom: 15% !important;
}

.secret-page_block1-img {
  width: 614px;
  height: 800px;
}
.secret-page_block1-img > img {
  width: 100%;
  height: 100%;
}
.secret-page_block3 {
  padding: 0;
  padding-top: 15%;
  padding-bottom: 11.7%;
}
.secret-page_block3-img {
  width: 296px !important;
  height: 390px;
}
.secret-page_block3-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  font-family: "FuturaPT", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  display: block;
}
.secret-page_blockImg-cont {
  padding: 0;
}
.line-heightf {
  position: absolute;
  width: 100%;
  border-top: 1px solid #454545;
  top: 16%;
  z-index: 99999999;
  display: none;
}
.secret-page_blockImg-mainCont {
  padding-bottom: 15%;
}
.secret-page_block7 {
  height: 1160px !important;
  padding-top: 7px;
}
.secret-page_blockImg-rs {
  width: 100%;
  height: 100%;
}
.secret-page_block4-title {
  padding-top: 313px;
  margin-bottom: 0;
}
.secret-assistants-page__blocklast-fr {
  padding-bottom: 10px;
}
.secret-page_block1-main_h1 {
  padding-top: 150px !important;
  padding-bottom: 14% !important;
}
.secret-assistants-page__blocklast-mr {
  margin-bottom: 112px;
}
.secret-assistants-page__blocklast-br br {
  display: none;
}
.secret-page_block14-title {
  max-width: 100%;
}
@media (min-width: 1870px) {
  .section3__looking-not {
  border-bottom: none;
}
.line-heightf {
  display: block;
}
}

@media (min-width: 1240px) {
  .secret-assistants-page__blocklast-br br {
    display: block;
  }
}
@media (max-width: 1024px) and (min-width: 476px) {
  .secret-page_block3-title {
    display: none;
  }
}
